# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

authorization-authencation/node_modules
authorization-authencation/.env

api-gateway/node_modules
api-gateway/.env

notification/.serverless
notification/node_modules
notification/.env.json

system-a/node_modules
system-a/.env